/* 按钮组样式 */
.button-group {
    margin-bottom: 20px;
}

button {
    background-color: #008CBA;
    /* 按钮背景颜色 */
    color: white;
    /* 文字颜色 */
    padding: 10px 15px;
    /* 内边距 */
    border: none;
    /* 去除边框 */
    border-radius: 5px;
    /* 圆角边框 */
    cursor: pointer;
    /* 鼠标悬停时的光标形状 */
    font-size: 16px;
    /* 文字大小 */
    margin: 5px;
    /* 外边距 */
    transition: background 0.3s;
    /* 过渡效果 */
}

button:hover {
    background-color: #005f73;
    /* 按钮悬停时的背景颜色 */
}

/* 文本域样式 */
.output,
.input {
    width: calc(100% - 40px);
    /* 宽度为100%，减去padding */
    margin-bottom: 20px;
    padding: 10px;
    /* 内边距 */
    border: 1px solid #ddd;
    /* 边框 */
    border-radius: 5px;
    /* 圆角边框 */
    font-size: 16px;
    /* 字体大小 */
    background-color: #fff;
    /* 背景颜色 */
    resize: vertical;
    /* 只允许垂直缩放 */
}

.output[contenteditable="true"],
.input[contenteditable="true"] {
    height: 200px;
    /* 设置高度 */
    overflow-y: scroll;
    /* 添加滚动条 */
    outline: none;
    /* 移除焦点时的边框 */
    -webkit-user-modify: read-write;
    /* 允许编辑 */
}